.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    margin-bottom: 4rem;
    padding: 2rem;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    background-color: #ddd;
    position: relative;
}

.button-close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    color: white;
    background-color: salmon;
    border-radius: 4px;
    cursor: pointer;
}
.button-close:hover {
    background-color: orangered;
}